/* universal style */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;  
}
/* color 
background: linear-gradient(225deg, #18C8FF 14.89%, rgba(198, 8, 255, 0.79) 85.85%);
*/


:root {
  --bg-color: #060044;
  --second-bg-color: #01B5E80D;
  --third-bg-color: #7752FE0A;
  --text-color: #FFFFFF;
  --text-second-color: #01B5E8;
  --font-main :"Open Sans", sans-serif;
}

.div_one_background{
  background:var(--bg-color)
}


/* Navbar nav style  */
/* =========================================================================

/* logo style */
/* .Logo_name{
  text-align: center;
} */


/* .navbar_container{
  padding: 25px 3px !important;  
} */

.navbar-nav{   
  margin-left: 1rem;
  margin-bottom: 1rem;
   --bs-nav-link-color: var(--text-color) !important;
}
.navbar-brand{
  margin-right: 3.1 rem !important;
}

.nav_text{
  font-family: var(--font-main);
    font-size: 1rem;
    font-weight: 400 !important;
    margin-right: 0.9rem;
    line-height: 1rem;
    color: var(--text-color);
    text-decoration: none;
    padding-right: 10px;
}
.nav_text:hover{
  color:var(--text-second-color);
}
.active{
  color: var(--text-second-color);
}
.dropdown_menu_text{
  margin-top: -9px;
}
.contact_text{
  /* margin-right:12px; */
  color: var(--text-color);
}
.dropdown-menu {
  --bs-dropdown-padding-x: 0rem !important; 
--bs-dropdown-padding-y: 0rem !important;
--bs-dropdown-bg: #CF3232 !important;
--bs-dropdown-link-active-bg: #000 !important;
}
.dropdown-item {
  border-bottom: 2px solid #fff !important;
  border-radius: none !important;
  color: #fff !important;
  text-transform:capitalize;

}
.dropdown-item:hover {  
  background-color: #000000 !important;
}
.dropdown-item:active {  
  background-color: black !important;
}
.contactBtn{
  background: linear-gradient(225deg, #18C8FF 14.89%, rgba(198, 8, 255, 0.79) 85.85%);
  width: 10rem;
height: 2.5rem;
padding: 3px 35px;
border-radius: 12px;
border: 1px;

}


/* ========================================================================= */
/* media query  */
/* =========================================== */
/* Mobile-First Media Queries */
/* ...
// all rules outside of @media queries apply to devices from 0px to 767px (inclusive)
... */

@media (min-width: 768px) {
	/* ...
	// rules here apply to devices from from 768px to 991px (inclusive)
	... */  
}
@media (min-width: 992px) {	
	/* ...
	// rules here apply to devices from 992px to 1199px (inclusive)
	... */
  .navbar-nav{      
    margin-left: 18rem;  
    margin-bottom: 0rem;  
    margin-right: 3rem;
  }

  .nav_text {        
    margin-right: 0.8rem;
    padding-right: 10px;
}
 
}
@media (min-width: 1200px) {
	/* ...
	// rules here apply to devices 1200px and greater
	... */
 
}
