/* universal style */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
}
/* color 
background: linear-gradient(225deg, #18C8FF 14.89%, rgba(198, 8, 255, 0.79) 85.85%);
background: linear-gradient(266.34deg, #8429F8 15.69%, #060044 86.54%);

*/

:root {
  --bg-color: #060044;
  --second-bg-color: #01b5e80d;
  --third-bg-color: #7752fe0a;
  --text-color: #ffffff;
  --text-second-color: #01b5e8;
  --font-main: "Open Sans", sans-serif;
}

.div_one_background {
  position: sticky;
  top: 0;
  left: 0;  
  z-index: 100;
  background: var(--bg-color);
}

.animationY_style{
  width: 100%;
  animation: floatImageY 4s ease-in-out infinite;
}

@keyframes floatImageY {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(0.5rem);
  }

  100% {
      transform: translateY(0);
  }
}

.animationX_style{
  width: 100%;
  animation: floatImageX 4s ease-in-out infinite;
}

@keyframes floatImageX {
  0% {
      transform: translateX(0);
  }

  50% {
      transform: translateX(1.5rem);
  }

  100% {
      transform: translateX(0);
  }
}

/* universal colum text design */
.col_text_style strong{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.5rem;
  font-family: var(--font-main);
}

.col_text_style strong span{
  color: var(--text-second-color);
}

.col_text_style p{
font-family: Open Sans;
font-size: 18px;
font-weight: 400;
line-height: 27px;
text-align: justify;
color: var(--text-color);
padding: 2rem 0rem;
}

.col_image_style img{
  width: 100%;
  margin-left: -1rem;  
}

/* Navbar nav style  */
/* ========================================================================= */
.navbar-nav {
  margin-left: 1rem;
  margin-bottom: 1rem;
  --bs-nav-link-color: var(--text-color) !important;
}
.navbar-brand {
  margin-right: 3.1 rem !important;
}

.nav_text {
  font-family: var(--font-main);
  font-size: 1rem;
  font-weight: 400 !important;
  margin-right: 0.9rem;
  line-height: 1rem;
  color: var(--text-color);
  text-decoration: none;
  padding-right: 10px;
}
.nav_text:hover {
  color: var(--text-second-color);
}
.active {
  color: var(--text-second-color);
}
.dropdown_menu_text {
  margin-top: 9px;
}
.navbar-toggler {
  background-color: #18c8ff;
}

/* submenu bar style  */
.services {
  cursor: pointer;
}

.menu_bar ul {
  list-style: none;
  display: flex;
  margin-bottom: 0rem;
  padding-left: 0rem;
}

.menu_bar ul li {
  padding: 2px 8px;
  position: relative;
}
.dropdown_menu {
  display: none;
}

.menu_bar ul li:hover .dropdown_menu {
  background: var(--bg-color);
  display: block;
  position: absolute;
  left: -15px;
  top: 110%;
  padding: 1.6rem;
  z-index: 1;
}

.menu_bar ul li:hover .dropdown_menu ul {
  display: block;
  color: var(--text-color);
}

.menu_bar ul li:hover .dropdown_menu ul li {
  width: 150px;
  padding: 1rem 0rem;
  border-bottom: 1px solid #ffffff80;
  font-family: var(--font-main);
  font-size: 1rem;
  text-align: center;
}

.menu_bar ul li:hover .dropdown_menu ul li:hover {
  color: var(--text-second-color);
}
.menu_bar ul li:hover .dropdown_menu ul li:last-child {
  border-bottom: none;
  padding-bottom: 0rem;
}

.fas {
  float: right;
  margin-left: 0.9rem;
  padding-top: 0.1rem;
  font-size: 1.5rem;
}

.dropdown_submenu {
  display: none;
}

.dropdown_menu ul li:hover .dropdown_submenu {
  display: block;
  position: absolute;
  top: 0.1rem;
  left: 9.5rem;
  background-color: var(--bg-color);
  padding: 0rem 2.5rem 2rem;
  z-index: 1;
}

.dropdown_menu ul li:hover .dropdown_submenu ul li {
  width: 100%;
  border-bottom: 1px solid #ffffff80;
}
.dropdown_menu ul li:hover .dropdown_submenu ul li .dropdown-item {
  font-family: var(--font-main);
  font-size: 1rem;
  text-align: left;
  padding: 0.8rem 0rem;
}
/* comapny dropdown maneu style */
.menu_bar ul li:hover .comapny_dropdown_menu ul li {
  width: 95px;
}

.contactBtn {
  background: linear-gradient(
    225deg,
    #18c8ff 14.89%,
    rgba(198, 8, 255, 0.79) 85.85%
  );
  width: 10rem;
  height: 2.5rem;
  padding: 3px 35px;
  border-radius: 12px;
  border: 1px;
  color: var(--text-color);
}
/* ========================================================================= */
/* Erro Page  */
.erro_page_div {
  height: 89vh;
  background-color: #020238;
}
.erro_text_div {
  font-family: var(--font-main);
}
.erro-text-fof {
  font-size: 17rem;
  color: var(--text-color);
  font-weight: 400;
}
.erro_text_div h5 {
  font-size: 1.5rem;
  color: var(--text-color);
  margin-top: -4rem;
  padding-bottom: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}
.custombtn {
  background: linear-gradient(
    225deg,
    #18c8ff 14.89%,
    rgba(198, 8, 255, 0.79) 85.85%
  );
  padding: 0.8rem 2.8rem;
  border-radius: 1rem;
  color: var(--text-color);
  font-size: 1.2rem;
}
.custombtn:hover {
  background: linear-gradient(
    225deg,
    #35c8f5 14.89%,
    rgba(218, 130, 245, 0.79) 85.85%
  );
}
/* ========================================================================= */
/* Home Page Design  */
/* Hero */
.hero_div{  
  background: linear-gradient(141.34deg, #8429F8 5.69%, #060044 70.54%);  
  height: 45rem;
  color:var(--text-color);
  position: relative;
}
.hero_row_style{
  padding-top: 3.7rem;
}
.hero_col_text_style{
  padding-top: 3.3rem;
}

.hero_col_text_style strong{
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 3.5rem;
  font-family: var(--font-main);
}
.hero_col_text_style p{
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #f3f0f0;
  padding: 2rem 5rem 1.4rem 0rem;
  text-align: left;  
  font-family: var(--font-main);
}
.hero_col_image_style img{
  width: 100%;
  margin-left: -1.5rem;  
}
.ai_service {
  background: #FFFFFFCC;
  height: 7rem;
  width: 80%; /* Adjust width as needed */
  max-width: 1000px; /* Example maximum width */
  margin: 0 auto; /* Center horizontally */
  z-index: 1000;
  position: absolute;
  top: 45rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius:12px; 
  box-shadow: 0rem -0.2rem 10rem 0.5rem rgba(10, 195, 253, 0.938596);
}

/* About design */
.about_div{  
  background: var(--bg-color);  
  height: 36.75rem;
  color:var(--text-color)
}
.about_row_style{
  padding-top: 12rem;
}
.about_col_text_style{
  padding-top: 1.5rem;  
}
.about_col_text_style strong{
  text-transform: uppercase;
}
.border_style{
  margin-top: 1rem;
  width: 170px;
border-bottom: 3px solid var(--text-color);
}


/* ========================================================================= */
/* media query  */
/* =========================================== */
/* Desktop-First Media Queries */
@media (max-width: 1200px) {
  /* ...
	// rules here apply to devices from 993px to 1200px (inclusive)
	... */
  .hero_col_text_style strong{
    font-size: 2rem;    
    line-height: 3rem;
  }
  .hero_col_text_style p{
    padding: 1.5rem 3rem 1rem 0rem;
  }
  .hero_col_image_style img{   
    margin-left: 0rem;
    height: 27rem;
  }  

  /* universal design */
.col_text_style strong{
  font-size: 1.7rem; 
  line-height: 3rem;
}

.col_image_style img{  
  height: 27rem;  
}
.border_style{  
  width: 120px;
}
}
@media (max-width: 992px) {
  /* ...
	// rules here apply to devices from 769px to 992px (inclusive)
	... */
  .nav_text {
    margin: 1rem 0rem;
  }
  .hero_row_style{
    padding-top: 1rem;
  }
  .hero_col_text_style strong{
    font-size: 1.5rem;    
    line-height: 2rem;
  }
  .hero_col_text_style p{
    padding: 1rem 1rem 1rem 0rem;
  }
  .hero_col_image_style img{   
    margin-left: 0rem;
    height: 25rem;
  }
  /* about  */
  .about_div{      
    height: 34.75rem;
  }
}
@media (max-width: 768px) {
  /* ...
	// rules here apply to devices from 0px to 768px (inclusive)
	... */
  .erro-text-fof {
    font-size: 10rem; 
  }
  .erro_text_div h5 {    
    margin-top: 0rem;
  }
  .hero_div{  
    min-height: 54rem;
  }
  .hero_col_image_style img{
    height: 25rem;
    padding-top: 2rem;
  }
  /* about  */
  .about_div{      
    height: 64rem;
  }
  .col_text_style{
    margin-top: 3rem;
  }
  .border_style{  
    width: 95px;
  }
}
/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */
/* =========================================== */
/* Mobile-First Media Queries */
@media (min-width: 768px) {
  /* ...
	// rules here apply to devices from from 768px to 991px (inclusive)
	... */
}
@media (min-width: 992px) {
  /* ...
	// rules here apply to devices from 992px to 1199px (inclusive)
	... */
  .navbar-nav {
    margin-left: 12rem;
  }
}
@media (min-width: 1200px) {
  /* ...
	// rules here apply to devices 1200px and greater
	... */
  .navbar-nav {
    margin-left: 18rem;
    margin-bottom: 0rem;
    margin-right: 3rem;
  }
  .nav_text {
    margin-right: 0.8rem;
    padding-right: 10px;    
  }
}

